.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 12px;
  background: var(--color-bg-default);
  box-shadow: var(--shadow-layer);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.status {
  font-size: 12px;
}

.statusSuccess {
  color: var(--color-typo-success);
}

.statusError {
  color: var(--color-typo-alert);
}

.statusSecondary {
  color: var(--color-typo-secondary);
}

.statusInProgress {
  color: var(--color-typo-ghost);
}
