:root {
  font-family: var(--font-primary, 'Inter', 'Helvetica Neue', Arial, sans-serif);
  background-color: var(--color-bg-default);
  color: var(--color-typo-primary);
}

body,
html,
#root {
  margin: 0;
  height: 100%;
}

body {
  background: var(--color-bg-default);
  color: var(--color-typo-primary);
}

* {
  box-sizing: border-box;
}
